.header-height {
    height: 450px;
}

.header-text {
    padding-top: 180px;
    font-size: 80px;
}

.main-section {
    margin-top: 40px;
}

.selected-player {
    height: 340px;
}

/* footer  */

.footer {
    height: 100px;
    padding-top: 40px;
}